.eighth-section {
    padding: 25px;
    margin-top: 100px;
}

.eighth-content {
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.eighth-content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.eighth-content-header-left p {
    font-size: 24px;
}

.eighth-content-header-left h4 {
    font-size: 32px;
}

.eighth-content-content {
    display: flex;
    gap: 32px;
}

.e-left {
    width: 100%;
}

.e-left-container {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 32px;
    overflow: hidden;
}

.e-left-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 32px;
}

.e-left-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px 30px;
    border-radius: 0 0 32px 32px;
}


.e-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.e-right-top,
.e-right-bottom {
    background-color: #ddd;
    height: 50%;
    border-radius: 32px;
}

.e-right-container {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 32px;
    overflow: hidden;
}

.e-right-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 32px;
}

.e-right-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px 30px;
    border-radius: 0 0 32px 32px;
}

.eighth-content-header-right:hover svg {
    color: green;
}