.fifth-section {
    background-color: red;
    padding: 25px;
    margin-top: 100px;

}

.fifth-content {
    background-color: gray;
    padding: 25px;
    display: flex;
    flex-direction: column;
}

.fifth-heading {
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
}

.fifth-heading-left {
    background-color: yellow;
}

.fifth-heading-left h4 {
    font-size: 18px;
    font-weight: normal;
    font-family: "Outfit", sans-serif;
}

.fifth-heading-left h2 {
    font-size: 32px;
}

.fifth-heading-right {
    background-color: yellow;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 25px;
}

.masters {
    background-color: blue;
    display: flex;
    gap: 100px;
    padding: 25px;
    /* align-items: center; */
    /* height: 200px; */
}


.master1,
.master2,
.master3 {
    /* display: flex; */
    width: 384px;
    height: 451px;
    position: relative;
    display: flex;

}

.master1 img,
.master2 img,
.master3 img {
    /* background-repeat: no-repeat;
    background-size: contain;
    background-position: center; */
    width: 100%;
    height: 100%;
    border-radius: 32px;
    position: absolute;
    z-index: 2;


}

.master1-copy,
.master2-copy,
.master3-copy {
    width: 100%;
    height: 90%;
    background-color: whitesmoke;
    rotate: 10deg;
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 10%;
    border-radius: 32px;
    opacity: 0;
    transition: opacity 0.3s ease;
    /* smooth transition */
}

.master1:hover .master1-copy {
    opacity: 1;
}

.master2:hover .master2-copy {
    opacity: 1;
}

.master3:hover .master3-copy {
    opacity: 1;
}