.fifth-section {
    /* background-color: red; */
    padding: 25px;
    margin-top: 100px;

}

.fifth-content {
    /* background-color: gray; */
    padding: 25px;
    display: flex;
    flex-direction: column;
}

.fifth-heading {
    /* background-color: blueviolet; */
    display: flex;
    justify-content: space-between;
}


.fifth-heading-left h4 {
    font-size: 18px;
    font-weight: normal;
    font-family: "Outfit", sans-serif;
}

.fifth-heading-left h2 {
    font-size: 32px;
}

.fifth-heading-right {
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 25px;
}

.masters {
    display: flex;
    gap: 150px;
    padding: 25px;
    justify-content: center;
}

.master1,
.master2,
.master3 {
    width: 384px;
    height: 451px;
    position: relative;
}

.master1 img,
.master2 img,
.master3 img {
    width: 100%;
    height: 100%;
    border-radius: 32px;
    position: absolute;
    z-index: 2;
    transition: transform 0.4s ease;
}


.master1-copy,
.master2-copy,
.master3-copy {
    width: 100%;
    height: 90%;
    background-color: whitesmoke;
    border-radius: 32px;
    position: absolute;
    bottom: 1%;
    left: 20%;
    rotate: 10deg;
    z-index: 1;
    opacity: 0;
    transform: translateX(-20px);
    transition: all .3s ease;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

.master1-copy-content,
.master2-copy-content,
.master3-copy-content {
    width: 100%;
    rotate: 270deg;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 50%;
    margin-left: 40%;
}

.master1-copy-content h2,
.master1-copy-content h4,
.master2-copy-content h2,
.master2-copy-content h4,
.master3-copy-content h2,
.master3-copy-content h4 {
    margin: 0;
    padding: 0;
}

.master1:hover .master1-copy,
.master2:hover .master2-copy,
.master3:hover .master3-copy {
    opacity: 1;
    transform: translateY(0);
}

.master1:hover img,
.master2:hover img,
.master3:hover img {
    transform: scale(1.03);
}