.fourth-section {
    /* background-color: grey; */
    padding: 25px;
    margin-top: 100px;

}

.fourth-content {
    /* background-color: red; */
    padding: 25px;
    display: flex;
    flex-direction: column;
}

.fourth-content-heading h2 {
    font-size: 24px;
    font-family: "Outfit", sans-serif;
    margin: 0;
    line-height: 150%;
    /* background-color: rgb(145, 89, 89, .9); */
}

.fourth-content-heading h4 {
    font-size: 32px;
    font-weight: 700;
    margin: 0;
    line-height: 150%;
    /* background-color: rgba(89, 145, 89, 0.9); */
}

.courses {
    /* background-color: green; */
    margin-top: 50px;
    display: flex;
    gap: 32px;
    padding: 25px;
}

.all-course,
.upcoming-course,
.ongoing-course {
    width: 100%;
    background-color: blueviolet;
    flex: 1;
    border-radius: 32px;
}

.all-course {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: #C33241;
}

.all-course-top {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: end;
    padding-right: 25px;
    color: white;
    /* background-color: red; */
}

.all-course-center {
    display: flex;
    gap: 60px;
    margin-top: 70px;
    justify-content: center;
    /* background-color: red; */
}

.all-course-bottom {
    display: flex;
    gap: 50px;
    padding: 0 10%;
    /* margin: 0; */
    /* background-color: rgb(36, 36, 36, .7); */
}

.all-course-bottom-left h1 {
    font-size: 150px;
    font-weight: 900;
    color: white;
    padding: 0;
    margin: 0;
}

.all-course-bottom-right {
    padding: 25px 150px 0 0;
}

.all-course-bottom-right h2 {
    color: white;
    font-size: 32px;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 0;
}

.all-course-bottom-right p {
    color: white;
    font-size: 18px;
}


.upcoming-course {
    display: flex;
    flex-direction: column;
    background-color: #F9EBEC;
    justify-content: space-between;
    align-items: center;
}

.upcoming-course-top {
    /* background-color: rgb(43, 42, 42, .5); */
    max-width: 60%;
    rotate: 270deg;
    margin-top: 25%;
}

.upcoming-course-top h2 {
    color: #C33241;
    font-size: 32px;
    font-weight: 700;
}

.upcoming-course-top p {
    color: #C33241;
    font-size: 18px;
}

.upcoming-course-bottom {
    /* background-color: red; */
    text-align: center;
}

.upcoming-course-bottom h1 {
    color: #C33241;
    font-family: 'Nohemi', sans-serif;
    font-size: 150px;
    font-weight: 900;
    padding: 0;
    margin: 0;
    justify-content: end;

}



.ongoing-course {
    display: flex;
    flex-direction: column;
    background-color: #F9EBEC;
    justify-content: space-between;
    align-items: center;
}

.ongoing-course-top {
    /* background-color: rgb(43, 42, 42, .5); */
    max-width: 60%;
    rotate: 270deg;
    margin-top: 25%;
}

.ongoing-course-top h2 {
    color: #C33241;
    font-size: 32px;
    font-weight: 700;
}

.ongoing-course-top p {
    color: #C33241;
    font-size: 18px;
}

.ongoing-course-bottom {
    /* background-color: red; */
    text-align: center;
}

.ongoing-course-bottom h1 {
    color: #C33241;
    font-size: 150px;
    font-weight: 900;
    padding: 0;
    margin: 0;
}




.fourth-content-transition-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    font-size: 28px;
    font-family: "Outfit", sans-serif;
}

.fourth-transition {
    display: flex;
    justify-content: center;
    gap: 32px;
    animation-name: roaming;
    animation-duration: 30s;
    animation-direction: linear;
    animation-iteration-count: infinite;
}