.profile {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

#mentor-heading {
    font-size: 16px;
    color: #565656;
    font-family: "Outfit", sans-serif;
}

.mentor {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-left: 90px;
    position: relative;
    background-color: blue;
}



.mt1 {
    position: absolute;
    left: 100px;
}

.mt2 {
    position: absolute;
    left: 150px;
}

.mt3 {
    position: absolute;
    left: 200px;
}

.mt4 {
    position: absolute;
    left: 250px;
}

.mt5 {
    position: absolute;
    left: 300px;
}

.mt6 {
    position: absolute;
    left: 350px;
}

.info1 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgb(238, 238, 238);
    font-size: 22px;
    padding: 15px;
    border-radius: 15px;
    rotate: -10deg;
    opacity: 0;
}

.info1 h6 {
    padding: 0;
    margin: 0;
}

.info2 {
    position: absolute;
    bottom: 10px;
    left: 100px;
    background-color: rgb(238, 238, 238);
    font-size: 22px;
    padding: 15px;
    border-radius: 15px;
    rotate: -5deg;
    opacity: 0;
}

.info2 h6 {
    padding: 0;
    margin: 0;
}

.info3 {
    position: absolute;
    bottom: 10px;
    left: 150px;
    background-color: rgb(238, 238, 238);
    font-size: 22px;
    padding: 15px;
    border-radius: 15px;
    opacity: 0;
}

.info3 h6 {
    padding: 0;
    margin: 0;
}

.info4 {
    position: absolute;
    bottom: 10px;
    left: 200px;
    background-color: rgb(238, 238, 238);
    font-size: 22px;
    padding: 15px;
    border-radius: 15px;
    rotate: 0deg;
    opacity: 0;
}

.info4 h6 {
    padding: 0;
    margin: 0;
}

.info5 {
    position: absolute;
    bottom: 10px;
    right: 180px;
    background-color: rgb(238, 238, 238);
    font-size: 22px;
    padding: 15px;
    border-radius: 15px;
    rotate: 5deg;
    opacity: 0;
}

.info5 h6 {
    padding: 0;
    margin: 0;
}

.info6 {
    position: absolute;
    bottom: 10px;
    right: 130px;
    background-color: rgb(238, 238, 238);
    font-size: 22px;
    padding: 15px;
    border-radius: 15px;
    rotate: 10deg;
    opacity: 0;
}

.info6 h6 {
    padding: 0;
    margin: 0;
}


.mt1:hover {
    cursor: pointer;
    scale: 1.1;
    z-index: 2;
}

.mt1:hover+.info1 {
    opacity: 1;
    scale: 1.3;
}

.mt2:hover {
    cursor: pointer;
    scale: 1.1;
    z-index: 2;
}

.mt2:hover+.info2 {
    opacity: 1;
    scale: 1.3;
}

.mt3:hover {
    cursor: pointer;
    scale: 1.1;
    z-index: 2;
}

.mt3:hover+.info3 {
    opacity: 1;
    scale: 1.3;
}

.mt4:hover {
    cursor: pointer;
    scale: 1.1;
    z-index: 2;
}

.mt4:hover+.info4 {
    opacity: 1;
    scale: 1.3;
}

.mt5:hover {
    cursor: pointer;
    scale: 1.1;
    z-index: 2;
}

.mt5:hover+.info5 {
    opacity: 1;
    scale: 1.3;
}

.mt6:hover {
    cursor: pointer;
    scale: 1.1;
}

.mt6:hover+.info6 {
    opacity: 1;
    scale: 1.3;
}