header {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
  align-items: center;
  height: 80px;
  background: linear-gradient(180deg, #fff 5%, rgba(255, 255, 255, 0) 100%);
  backdrop-filter: blur(2px);
}

.pages ul {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  text-decoration: none;
  list-style: none;
  align-items: center;
}

.pages a {
  text-decoration: none;
  color: #2b2b2b;
  font-family: outfit;
  font-size: 16px;
}

.pages button {
  background-color: #1daa7e;
  width: 194px;
  height: 47px;
  border-radius: 10px;
  padding: 12px 20px 12px 20px;
  border: 0px;
  box-shadow: 1px 3px;
}

.btn:hover {
  cursor: pointer;
  scale: 1.1;
}