.pratice {
    width: 100%;
    margin-bottom: 100px;
    padding: 25px;
    background-color: rebeccapurple;
}

.container {
    max-width: 1400px;
    margin: auto;
    padding-inline: 50px;
    background-color: red;
}

.course {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    padding: 5% 10%;
    background-color: yellow;

}

.first_course {
    grid-column: span 2;
    background-color: gray;
}

.grid_items {
    border: 1px solid black;
    height: 500px;
}