.second-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.skilltastic {
  margin-top: 50px;
  text-align: center;
}

.skilltastic h2 {
  font-size: 44px;
  margin: 0;
}

.skilltastic p {
  font-size: 24px;
  margin-top: 10px;
}

.gallery {
  display: flex;
  gap: 32px;
  overflow: visible;
  margin: 0 -20px;
  margin-top: 100px;
  /* background-color: red; */
}

.gallery div {
  flex: 1 0 0;
}

.gallery img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5%;
}

/* *,
*::before,
*::after {
  border: 1px solid red;
} */