.sixth-section {
    /* background-color: red; */
    padding: 25px;
    margin-top: 100px;

}

.sixth-content {
    /* background-color: gray; */
    padding: 70px;
    display: flex;
    flex-direction: column;
}

.sixth-heading {
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sixth-heading-left p {
    font-size: 24px;
}

.sixth-heading-left h2 {
    font-size: 32px;
}

.sixth-main {
    /* background-color: bisque; */
    display: flex;
    gap: 32px;
    margin-top: 50px;
}

.sixth-main-img,
.sixth-main-content {
    /* background-color: red; */
    flex: 1;
}

.sixth-main-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    flex: 2;
    /* background-color: blue; */
}

.sixth-first,
.sixth-second,
.sixth-third {
    display: flex;
    gap: 32px;
    /* background-color: greenyellow; */
}

.sixth-left,
.sixth-right {
    background-color: white;
    border-radius: 32px;
    flex: 1;
    box-sizing: border-box;
    padding: 25px;
    display: flex;
    gap: 32px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

.sixth-left h4,
.sixth-right h4 {
    font-size: 20px;
    font-weight: 700;
}