@font-face {
  font-family: 'Nohemi';
  src: url('fonts/Nohemi-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nohemi';
  src: url('fonts/Nohemi-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: 'Nohemi', sans-serif;
}

p {
  font-family: "Outfit", sans-serif;
}

.dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 25px;
  top: 70%;
  left: 75%;
  display: none;
  background-color: white;
  border: 1px solid;
  border-radius: 10px;
}

.dropdown p {
  font-size: 14px;
  padding: 0;
  margin: 0;
  line-height: 100%;
}

.row1 {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  align-items: center;
}

.row2 {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  align-items: center;
}

.row3 {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  align-items: center;
}

.row4 {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  align-items: center;
}

.row5 {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  align-items: center;
}

.row6 {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  align-items: center;
}

.row7 {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  align-items: center;
}

.row8 {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  align-items: center;
}

.row9 {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  align-items: center;
}

.compiler:hover .dropdown {
  display: block;
}

.dropdown:hover {
  cursor: pointer;
}